<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>New ML Project</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    .maincontainer{
        width: 700px;
    }
    .rightsidediv{
        float:right;
        width: 280px;
    }
    .leftsidediv{
        float: left;
        width: 400px;
        text-align: left;
    }
    .textcenter{
      text-align: center;
    }
    .prdictcenter{
      margin:0 auto;
    }
    .submitbutton{
      padding:5px;
    }
    </style>
</head>
<body >
<div class="login maincontainer">
    <h1 class="textcenter">Vehicle Predictive Analytics</h1>
    <!-- Main Input For Receiving Query to ML -->

    <form action="{{ url_for('predict')}}"method="post">

        <label class="leftsidediv" for="s3_input_path">Enter S3 Source bucket path:</label>
        <input class="rightsidediv" type="text" id="s3_input_path" name="s3_input_path"><br><br>
        <label class="leftsidediv" for="s3_output_path">Enter S3 target bucket path:</label>
        <input class="rightsidediv" type="text" id="s3_output_path" name="s3_output_path"><br><br>
        <label class="leftsidediv" for="s3_access_key">Enter S3 Access Key:</label>
        <input class="rightsidediv" type="text" id="s3_access_key" name="s3_access_key"><br><br>
        <label class="leftsidediv" for="s3_secret_key">Enter S3 Secret Key:</label>
        <input class="rightsidediv" type="text" id="s3_secret_key" name="s3_secret_key"><br><br>
        <div class="prdictcenter">
            <input type="submit" value="Predict" class="submitbutton">
        </div>

    </form>
    <br>
    <br>
    {{ prediction_text }}
</div>
</body>
</html>
